.container{
    /*width: 100%;
    height: inherit;*/
    /*display: inline-flex;
    display: -webkit-inline-flex;*/
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.container1{
width: 400px;
height: inherit;
margin: auto;
padding-left: 200px;
}
img{
    
    max-width: 100%;
    height: auto;
    display: block;
    float: both;
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


.shadow { 
    animation-name: shadow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes shadow {
    from { transform: scale(0.9); }
    65%  { transform: scale(1.2); }
    to   { transform: scale(0.9); }    
}